* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5 1fr 1fr 1fr;
      grid-template-columns: 1fr 0.5 1fr 1fr 1fr;
      grid-template-areas: "paragraph empty img1 img2 aside" "paragraph empty img3 img3 aside";
  gap: 20px;
  margin: 5px;
  padding: 60px;
  min-height: 450px;
}

.container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.a {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: paragraph;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img1;
}

.img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: img2;
}

.img3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img3;
}

.img4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  grid-area: aside;
}

/* Section 2 */
.container2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 1fr;
      grid-template-columns: 1fr 0.5fr 1fr;
  grid-auto-rows: 1fr 1fr;
      grid-template-areas: "topleft empyt topright" "topleft empty topright";
  min-height: 450px;
  padding: 60px;
}

.img-article2 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: topleft;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-article2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: topright;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* section 3 */
.container3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "pic1 pic2 article article pic3 pic4" "pic1 pic5 article article pic6 pic4" "pic7 pic5  article article pic6 pic8";
  gap: 10px;
  min-height: 450px;
  padding: 60px;
}

.last-article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: article;
  margin: -30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1000;
  background-color: white;
  text-align: center;
}

.section-img1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: pic1;
}

.section-img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pic2;
}

.section-img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: pic3;
}

.section-img4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  grid-area: pic4;
}

.section-img5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: pic5;
}

.section-img6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  grid-area: pic6;
}

.section-img7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pic7;
}

.section-img8 {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: pic8;
}

.container3 img {
  width: 100%;
  min-height: 450px;
}
/*# sourceMappingURL=style.css.map */